[Unit]
Description=NWC Trade API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/alicolliar
ExecStart=/bin/bash -lc /home/alicolliar/nwc-trading-server

[Install]
WantedBy=multi-user.target